<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Clasificación" %><br>
    <%= form.select :classification_id, options_for_select(Classification.all.map{|p|[p.description, p.id]}, :selected => form.object.classification_id), { :include_blank => '' }, :required => true %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Tipo" %><br>
    <%= form.select :question_type, options_for_select([ "Abierta", "Cerrada"], :selected => form.object.question_type), { :include_blank => '' }, :required => true , class: "content_clear"%>
  </div>
  <br>
  <div class="field">
    <%= form.label "Identificador" %><br>
    <%= form.text_field :identifier, id: :question_identifier, required: true %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Descripción" %><br>
    <%= form.text_area :description, id: :question_description, required: true %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Imagen" %><br>
    <%= form.file_field :image, id: :question_image %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Agregar", class: "button" %>
  </div>
<% end %>
