<h1>Preguntas</h1>

<%= link_to 'Agregar Pregunta', new_question_path, class: "button buttonPadding" %>

<div class="questionsWrapper">
  <table>
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Clasificación</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.identifier %></td>
          <td><%= question.classification.description %></td>
          <td><%= question.question_type %></td>
          <td><p><%= question.description %></p><% if question.image.present? %><%= image_tag question.image %><% end %></td>
          <td><%= link_to 'Respuestas', question, class: "button" %>
          <%= link_to 'Editar', edit_question_path(question), class: "button" %>
          <%= link_to 'Eliminar', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>