<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @question.identifier %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.question_type %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @question.classification.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @question.image %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<div class="answer_table"><%= render "answers/table" %></div>

<div class="answer_form"></div>

