<h1><%= @question.identifier %></h1>
<div class="showWrapper">
  <p>
    <strong>Tipo:</strong>
    <%= @question.question_type %>
  </p>

  <p>
    <strong>Clasificación:</strong>
    <%= @question.classification.description %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= @question.description %>
  </p>
  <% if @question.image.present? %>
    <p>
      <strong>Imagen:</strong>
      <%= image_tag @question.image %>
    </p>
  <% end %>
</div>
<h1>Respuestas</h1>
<div class="answerWrapper">
  <div class="answer_table"><%= render "answers/table" %></div>

  <div class="answer_form"></div>
</div>
<br>
<br>
<%= link_to 'Atras', questions_path, class: "button buttonPadding" %>
