<%= form_for([@test, @relation]) do |form| %>
  <% if relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Pregunta" %><br>
    <%= form.select :question_id, options_for_select(Question.all.map{|p|[p.identifier, p.id]}, :selected => form.object.question_id), prompt: "Seleccionar", id: :relation_question_id %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Agregar Pregunta", class: "button" %>
  </div>
<% end %>
<br>
<br>
<%= form_for([@test, @relation], :url => {:action=>"create_multiple"}) do |form| %>

  <table>
    <thead>
      <tr>
        <th>Selector</th>
        <th>Identicador</th>
        <th>Descripción</th>
      </tr>
    </thead>

    <tbody>
      <% if @questions.present? %>
        <% for question in @questions %>
          <tr>
            <td><%= check_box_tag "question_ids[]", question.id %></td>
            <td><%= question.identifier %></td>
            <td><p><%= question.description %></p></td>
          </tr>
        <% end %>
       <% end %> 
    </tbody>
  </table>
  <br>
  <div class="actions">
    <%= form.submit "Agregar Pregunta", class: "button" %>
  </div>
<% end %>