<%= form_for([@test, @relation]) do |form| %>
  <% if relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.select :question_id, options_for_select(Question.all.map{|p|[p.identifier, p.id]}, :selected => form.object.question_id), prompt: "Select", id: :relation_question_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= form_for([@test, @relation], :url => {:action=>"create_multiple"}) do |form| %>
  <h1>Questions</h1>

  <table>
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Description</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% if @questions.present? %>
        <% for question in @questions %>
          <tr>
            <td><%= check_box_tag "question_ids[]", question.id %></td>
            <td><%= question.identifier %></td>
            <td><%= question.description %></td>
          </tr>
        <% end %>
       <% end %> 
    </tbody>
  </table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>