<%= form_for(@student, :url => {:action=>"submit"}) do |form| %>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre" %><br>
    <%= form.text_field :name, required: true, id: :student_name %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Primer Apellido" %><br>
    <%= form.text_field :lastname, required: true, id: :student_lastname %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Segundo Apellido" %><br>
    <%= form.text_field :second_lastname, required: true, id: :student_second_lastname %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Id" %><br>
    <%= form.text_field :identifier, id: :student_identifier %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Genero" %><br>
    <%= form.select :gender, options_for_select([ "Masculino", "Femenino"], :selected => form.object.gender),:default => nil, required: true %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Fecha de Nacimiento" %><br>
    <%= form.date_select :birth_date, {:prompt => {:month => 'Mes', :day => 'Dia', :year => 'Año'}, default: nil, required: true, :start_year=>1917, :order => [:month, :day, :year]}, required: true, id: :student_birth_date %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Carrera" %><br>
    <%= form.select :career, options_for_select(Career.all.map{|p|[p.career]}), prompt: "Seleccionar" %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Colegio" %><br>
    <%= form.text_field :high_school, id: :student_high_school %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Continuar", class: "button" %>
  </div>
<% end %>

