<%= form_with(model: career, local: true) do |form| %>
  <% if career.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(career.errors.count, "error") %> prohibited this career from being saved:</h2>

      <ul>
      <% career.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Carrera" %><br>
    <%= form.text_field :career, id: :career_career, required: true %>
  </div>
  <br>
  <div class="field">
    <%= form.label "Prueba" %><br>
    <%= form.select :test_id, options_for_select(Test.all.map{|p|[p.indentifier, p.id]}, :selected => form.object.test_id), prompt: "Seleccionar", id: :test_id, required: true %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Agregar Carrera", class: "button" %>
  </div>
<% end %>
