<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @career.test %>
</p>

<p>
  <strong>Career:</strong>
  <%= @career.career %>
</p>

<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
