<h1>Usuario Nuevo</h1>
<div class="newWrapper">
  <div class="left">
  <%= form_for @user, :url => {:action=>"create"} do |f| %>
  	
    <div class="field">
      <%= f.label "Nombre" %><br>
      <%= f.text_field :name, autofocus: true, required: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label "Primer Apellido" %><br>
      <%= f.text_field :last_name, required: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label "Segundo Apellido" %><br>
      <%= f.text_field :second_last_name %>
    </div>
    <br>
    <div class="field">
      <%= f.label :role %><br>
      <%= f.select :role, options_for_select([ "User", "Admin"], :selected => f.object.role), required: true %>
    </div>
    <br>
  </div>
  <div class="right">  
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label "Contraseña" %><br>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", required: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label "Confirmación de Contraseña" %><br>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
    </div>
    <br>
    <br>
    <div class="actions">
      <%= f.submit "Crear Usuario", class: "button" %>
    </div>
  <% end %>
  <br>
  </div>
  <% if @user.errors.any? %>
  	<div id="error_explanation">
  	  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  	  <ul>
  	  <% @user.errors.full_messages.each do |message| %>
  	    <li><%= message %></li>
  	  <% end %>
  	  </ul>
  	</div>
  <% end %>
</div>