<%= form_for([@question, @answer], remote: true) do |form| %>

  <% if @question.question_type ==="Cerrada" %>
    <div class="field">
      <%= form.label "Descripción" %><br>
      <%= form.text_area :description, id: :answer_description, class: "content_clear" %>
    </div>
    <br>
    <div class="field">
      <%= form.label "Valor" %><br>
      <%= form.check_box :value, id: :answer_value, class: "content_clear" %>
    </div>
  <% end %>  
  <% if @question.question_type ==="Abierta" %>
    <div class="field">
      <%= form.label "Descripción" %><br>
      <%= form.text_area :content, id: :answer_content, class: "content_clear" %>
    </div>
    <br>
    <div class="field">
      <%= form.label "Mensaje" %><br>
      <%= form.text_area :message, id: :answer_message, class: "content_clear" %>
    </div>
  <% end %> 
  <br>
  <div class="field">
    <%= form.label "Imagen" %><br>
    <%= form.file_field :image, id: :answer_image, class: "content_clear" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Agregar", class: "button" %>
  </div>

  <div class="answer_errors"><%= render 'errors' %></div>

<% end %>

