<h1>Pruebas</h1>

<%= link_to 'Nueva Prueba ', new_test_path, class: "button buttonPadding"%>
<br>
<br>
<br>
<div class="testWrapper">
  <table>
    <thead>
      <tr>
        <th>Identificador</th>
        <th>Descripción</th>
        <th>Tiempo</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @tests.each do |test| %>
        <tr>
          <td><%= test.indentifier %></td>
          <td><p><%= test.description %></p></td>
          <td><%= test.time.strftime("%H:%M") %></td>
          <td><%= link_to 'Mostrar', test, class: "button" %> <%= link_to 'Editar', edit_test_path(test), class: "button" %> <%= link_to 'Eliminar', test, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


