<h1><%= @test.indentifier %></h1>
<div class="showWrapper">
  <p>
    <strong>Preguntas:</strong>
    <%= @quantity %>
  </p>

  <p>
    <strong>Clasificaciones:</strong>
    <ul>
  	<% @classifications.each do |classif| %>
  	  <li><%= classif['classification'] %>: <%= classif['quantity']  %></li>
  	<% end %>
    </ul>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= @test.description %>
  </p>

  <p>
    <strong>Tiempo:</strong>
    <%= @test.time.strftime("%H:%M") %>
  </p>
</div>  
<h1>Preguntas Relacionadas</h1>
<div class="relationWrapper">
  <%= render :file => '/relations/index' %>
  <br>
  <br>
</div>
<br>
<br>
<%= link_to 'Atras', tests_path, class: "button buttonPadding" %>
